* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --card-title-border-color: #746615;
    --card-color-primary: #f7dd43;
    --card-bg-color: #1d1c19;
    --bg: url(./assets/bg-yellow.svg);
}

body.blue {
    --card-title-border-color: #304f75d5;
    --card-color-primary: #338AF3;
    --card-bg-color: #202024;
    --bg: url(./assets/bg-blue.svg);
}

body.green {
    --card-title-border-color: #346d50;
    --card-color-primary: #047C3F;
    --card-bg-color: #202420c7;
    --bg: url(./assets/bg-green.svg);
}

body.red { 
    --card-title-border-color: #831d1d;
    --card-color-primary: #610909;
    --card-bg-color: #2c2323c7;
    --bg: url(./assets/bg-red.svg);
}

ul {
    list-style: none;
}

body {
    background: #121214 var(--bg) no-repeat top center/cover;
}

body * {
    font-family: 'Roboto', sans-serif;
}

#app { 
    width: fit-content;
    margin: auto;
    padding-top: 52px;
}

header {
    margin-bottom: 63px;
    text-align: center;
}

#cards {
    display: flex;
    flex-direction:column;
    gap: 32px;
}

.card {
    width: 245px;
    padding: 32px 23px;
    text-align: center;

    background: var(--card-bg-color);
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
}

.card h2 {
   display:flex;
   gap: 26px;
   justify-content: center;
   align-items: center;

    padding: 6px 16px;
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;

    width: fit-content;
    margin-inline: auto;
    margin-bottom: 33px;

    color: #f7dd43;
}

.card h2 span {
   color: #E1E1E6;
   font-size: 18px;
   text-transform: uppercase;
}

.card ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card ul li + li { 
    padding-top: 31px;
    border-top: 1px solid #323228;
}
.card ul li strong {
    font-weight: 800;
    font-size: 22px;
    line-height: 125%;
    color: #E1E1E6;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
    transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
    transition: transform 0.3s;
}

.card {
    opacity: 0;
    animation: appear 1.2s forwards;
}

@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 700px) {
    #cards {
        max-width: 670px;
        flex-direction: row;
    }
}